<div class="container">
  <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <h1>{{title}}</h1>
      </div>
  </div>



  <div class="row justify-content-md-center">
    <div class="col col-lg-4" style="border-radius: 10px; background-color: #957bbe;">
      
      <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Direccion</span>
            </div>
        <input  type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
        <br>
      </div>

      
      <div>
        <p>{{formattedAddress}}</p>
        <!-- Lat:{{lat}}
        Long:{{lng}} -->
      </div>
      <hr>

      <div *ngIf="status" class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option *ngFor="let distribuidores of distribuidor" value="{{distribuidores.name}}">{{distribuidores.name}}</option>
        </select>
      </div>

      <div *ngIf="status">
        <p *ngFor="let distribuidores of distribuidor">{{distribuidores.name}} => {{distribuidores.distance_in_km}} </p>
      </div>
    </div>

    <!--<p>https://angular-maps.com/guides/getting-started/#setting-up-angular-google-maps cocumentacion</p>-->
    <div class="col-lg-6" style="border-radius: 10px; background-color: #80bdff;padding-top: 10px;">
        <div *ngIf="status">
          <agm-map [latitude]="lat"
                    [longitude]="lng"
                    [zoom]="zoom"
                    (mapClick)="mapCliqueado($event)">
                        <agm-marker
                          [iconUrl]="iconMap.iconUrl"
                          *ngFor="let m of distribuidor; let i = index"
                          (markerClick)="marcadorCliqueado(m, i)"
                          [latitude]="m.lat" 
                          [longitude]="m.lng"
                          [markerDraggable]="true"
                          (dragEnd)="posicionFinalMarcador(m, $event)">

                          <agm-info-window>
                            <strong>{{m.name}}</strong>
                          </agm-info-window>

                        </agm-marker>
          </agm-map>
        </div>

        <div *ngIf="!status">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        </div>
    </div>
  </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=KEY&libraries=places&language=en"></script>